/* Project Card styling */

h1 {
  font-size: 2rem;
}

.card {
  position: relative;
  max-width: 1200px;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
}

.card-image {
  position: relative;
  display: inline-block;
  z-index: 1;
  min-height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: local;
}

.btn .link-icon {
  display: inline-block;
}

svg.github-icon, svg.link-icon {
  vertical-align: middle;
  width: 1.75rem;
  height: 1.75rem;
}

svg.chevron {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  color: #f5f5f5;
  position: absolute;
  top: 91%;
  left: 55%;
  z-index: 2;
  opacity: 1;
  transition: left 1s ease-in;
}

/* slider based on Brad Hussey code at codecollege.ca */

.slide {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 66%;
  height: 100%;
}

.slide-up {
  overflow: visible;
  width: 100%;
}

.slide-content-left {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #523f6d;
  color: #f5f5f5;
  opacity: .85;
  transition: transform 1s ease-in;
  -webkit-transition: transform 1s ease-in;
}

.slide-content-up {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-height: 66%;
  padding: 28px 28px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #523f6d;
  color: #f5f5f5;
  opacity: .85;
  margin-bottom: 5px;
  transition: transform 2s ease;
  -webkit-transition: transform 2s ease;
}

/* left panel's starting position */

.slide-left .slide-content-left {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* bottom panel's starting position */

.slide-up .slide-content-up {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* ending positions for sliders using adjacent siblings*/

.trigger-slide-left:hover+.slide-left .slide-content-left, .trigger-slide-left:active+.slide-left>.slide-content-left, .trigger-slide-left:focus+.slide-left>.slide-content-left {
  -webkit-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}

.chevron:hover, .chevron:focus {
  left: -55%;
}

.trigger-slide-left:hover~.slide-up .slide-content-up, .trigger-slide-left:active~.slide-up .slide-content-up, .trigger-slide-left:focus~.slide-up .slide-content-up {
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
  visibility: visible;
  margin-left: 0;
  margin-right: 0;
}

/* media queries for mobile-first responsive design */

@media (min-width: 0px) {
  .card {
    height: 380px;
  }
  .slider {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  p.blurb {
    font-size: 1rem;
  }
  .btn-sm {
    font-size: 1rem;
  }
  svg.chevron {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media (min-width: 576px) {
  .card {
    height: 510px;
  }
  h2 {
    font-size: 1.5rem;
  }
  .slider {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  p.blurb {
    font-size: 1.25rem;
    line-height: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  svg.chevron {
    width: 1.5rem;
    height: 1.5rem;
  }
  .btn-sm {
    font-size: 1.25rem;
  }
}

@media (min-width:768px) {
  .card {
    height: 660px;
  }
  h2 {
    font-size: 1.75rem;
  }
  .slider {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  p.blurb {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .btn-sm {
    font-size: 1.5rem;
  }
  svg.github-icon, svg.link-icon {
    width: 1.85rem;
    height: 1.85rem;
  }
  svg.chevron {
    width: 1.75rem;
    height: 1.75rem;
  }
}

@media (min-width:992px) {
  .card {
    height: 790px;
  }
  h2 {
    font-size: 2rem;
  }
  p.blurb {
    font-size: 1.75rem;
    line-height: 2.75rem;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }
  .btn-sm {
    font-size: 1.75rem;
  }
  svg.github-icon, svg.link-icon {
    width: 2.25rem;
    height: 2.25rem;
  }
  svg.chevron {
    width: 2rem;
    height: 2rem;
  }
}

@media (min-width: 1200px) {
  .card {
    height: 810px;
  }
  h2 {
    font-size: 2.25rem;
  }
  p.blurb {
    font-size: 2rem;
    line-height: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .btn-sm {
    font-size: 2rem;
  }
  svg.github-icon, svg.link-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
  svg.chevron {
    width: 2.25rem;
    height: 2.25rem;
  }
}