.body {
    padding: 0;
    background-color: #343a40;
}

  .card-img {
    background-size: contain;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
  }
  
  .img-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  /* img {
    z-index: -1;
  } */

  
#slide {
        display:block;
        position:absolute;
        top:0;
        left:0;
        width:33%;
        /* background-color:white; */
        margin:0;
        clear:both;
        opacity:.85;
        border: none;
        overflow-x: hidden;
        transition: width 800ms ease-out, opacity 500ms linear;
    }

    #slide:hover, #slide:focus {
        width: 0;
        opacity: 0;
    }

    .description{
        width:66%;
        min-width:200px;
        padding-top: 20rem;
        margin: auto;
        flex-wrap: nowrap;
    } 
    


/* media queries to adjust card height per viewport */
/* from smallest up to 1200px */
@media (max-width: 1200px) {
    /* #portfolio-main, #slide { */
        .card {
      height: 487px;
    }
   }

/*from smallest up to 600px */
   @media (max-width:600px) {
    /* #portfolio-main, #slide { */
        .card {
      height: 406px;
    }
  }

/* from smallest up to 475px */
   @media (max-width:475px) {
    /* #portfolio-main, #slide { */
        .card {
    height: 215px;
  }
 } 

 /* at 1200 or > */
@media (min-width: 1200px){
    /* #portfolio-main, #slide{ */
        .card{
      height: 773px;
    }
   }


    
  
  
  