.jumbotron {
    /* background-color: #fffafa; */
    max-width: 960px;
  }
  
  .bio {
    letter-spacing: .02em;
  }
  
  /* bio photo style */
  
  #avatar {
    width: 275px;
    height: 275px;
    margin-right: 2rem;
  }

  @media (max-width: 575.98px) {
    .bio {
    padding-bottom: 155px;
    }
  }