/* site footer styles */

.container, .container-fluid, .container-lg, .container-md, container-sm, container-xs {
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer {
  position: static;
  bottom: 0;
  left: 0;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  background-color: #a3b745;
  text-align: center;
}

.cta {
  color: #f5f5f5;
  font-size: 1.25rem;
}

a:visited, a:hover, a:active {
  color: #413256;
  text-decoration: none;
}

#resume-icon {
  padding-left: 0;
  height: 48px;
  width: 40px;
}

#github-icon, #linkedin-icon {
  padding-left: 1rem;
  height: 48px;
  width: 56px;
}

/*on screens larger than xs, columns unstack so pull contact links to left */

@media (min-width: 576px) {
  .footer {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: left;
  }
  #resume-icon {
    padding-left: 0;
    height: 58px;
    width: 50px;
  }
  #github-icon, #linkedin-icon {
    padding-left: 1rem;
    height: 58px;
    width: 66px;
  }
  .cta {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .footer {
    text-align: left;
  }
  .cta {
    font-size: 1.75rem;
  }
  #resume-icon {
    padding-left: 0;
    height: 58px;
    width: 58px;
  }
  #github-icon, #linkedin-icon {
    padding-left: 1rem;
    height: 58px;
    width: 74px;
  }
}