/* footer styles */

a {
  color: #231F33;
}

.footer {
  position: static;
  bottom: 0;
  left: 0;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  background-color: #a3b745;
  text-align: center;
}

.cta {
  color: #231F33;
  font-size: 1.25rem;
}

#resume-icon {
  height: 48px;
  width: 48px;
}

#github-icon, #linkedin-icon {
  margin-left: 1rem;
  height: 48px;
  width: 48px;
}

#github-icon {
  margin-right: .75rem;
}

a:visited, a:hover, a:active {
  color: #231F33;
  text-decoration: none;
}

.icon-call-out {
  font-size: .5rem;
  margin-top: 1.25rem;
}

/* media queries for mobile-first responsive design */

@media (min-width: 576px) {
  .footer {
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: left;
  }
  #resume-icon {
    height: 58px;
    width: 58px;
  }
  #github-icon, #linkedin-icon {
    height: 58px;
    width: 58px;
  }
  .cta {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .cta {
    font-size: 1.75rem;
  }
}