.App {
  text-align: center;
}

/* site body styles */

body {
  background-color: #343a40;
  color: #413256;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: .9rem;
  min-height: 1532px;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1rem;
}

/* #contact-view, #portfolio-view, #bio-view {
  padding-top: 7.75rem;
  padding-bottom: 7.75rem;
}

@media (min-width: 576px) {
  #contact-view, #portfolio-view, #bio-view {
    padding-top: 5.75rem;
    padding-bottom: 5.75rem;
  }
}

@media (min-width: 768px) {
  #contact-view, #portfolio-view, #bio-view {
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
  }
}

@media (min-width: 992px) {
  #contact-view, #portfolio-view, #bio-view {
    padding-top: 10.25rem;
    padding-bottom: 10.25rem;
  }
}

@media (min-width: 1200px) {
  #contact-view, #portfolio-view, #bio-view {
    padding-top: 13.25rem;
    padding-bottom: 13.25rem;
  }
} */